{{!-- {{title}}

<h1>{{title}}</h1>

<p>
  Winter is coming...
</p> --}}


 <div class="carousel carousel-slider center" data-indicators="true">
  <div class="caraousel-fixed-item center">
    {{!-- <a class="btn waves-effect white grey-text darken-text-2">Sign Up</a> --}}
  </div>
  <div class="carousel-item blue-grey darken-4 white-text" href="#one!">
    <h2>Creating an account</h2>
    <p class="white-text">Just add your name, username, and email...if you know it</p>
    <img src="/images/About-1.jpg">
  </div>
    <div class="carousel-item blue-grey darken-4 white-text" href="#one!">
    <h2>Make sure</h2>
    <p class="white-text">Use your name and email</p>
    <img src="/images/victoria.jpg">
  </div>
   <div class="carousel-item blue-grey darken-4 white-text" href="#one!">
    <h2>Make sure</h2>
    <p class="white-text">Use your name and email</p>
    <img src="/images/brett.jpg">
  </div>