{{!-- {{title}} --}}
{{!-- <h3>How This Works</h3> --}}


{{!--  <div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img src="/images/img-use.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="/images/img-use2.jpg"></a>
  </div>
         --}}



  <div class="slider">
    <ul class="slides">
      <li>
        <img src="/images/slide-1.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3 style="color: #ffab00">If you do not have an account</h3>
          <h5 style="color: #ffab00" class=" text-lighten-3">Just fill in your name and email and create a user name</h5>
        </div>
      </li>
      <li>
        <img src="/images/slider-2.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3 style="color: #ffab00">If you have an account</h3>
          <h5 style="color: #ffab00" class=" text-lighten-3">Just log in with your email and password.</h5>
        </div>
      </li>
      <li>
        <img src="/images/slider-3.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3 style="color: #ffab00">Add some pictures</h3>
          <h5 style="color: #ffab00" class=" text-lighten-3">Just upload your pics from the areas of the world of game of thrones</h5>
        </div>
      </li>
      <li>
        <img src="/images/slider-4.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3 style="color: #ffab00">Look at the locations</h3>
          <h5 style="color: #ffab00" class=" text-lighten-3">Then look at the locations on the map and to see the pictures from there.</h5>
        </div>
      </li>
      {{!-- <li>
        <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li> --}}
    </ul>
  </div>








{{!-- <div>
    <h5>For all you travel junkies out there, we’ve compiled a Game of Thrones
       location guide to help inspire your next trip. </h5>
  <h6>The show shoots largely on-location, primarily in Northern Ireland and
    Iceland for scenes in the North, and Croatia and Spain for the South. </h6>
  <h6>With such an impressive roster of medieval cities and stunning islands on
    their shoot list, it should come as no surprise that a GOT location tour around
    Europe would make for an ideal vacation. </h5>
    <h6>Feel free to sign-in share an image or post a comment to help insire others.</h6>
    <p>So, Are you ready?</p> --}}





  <!-- <textarea name="text" type="text" value="" placeholder="Add a comment..."></textarea>
  <button type="button" name="upload-comment-btn">Post</button>


<form method="post", enctype="multipart/form-data", action="/thisIsMyPostRoute">
  <br>
  <br>
  <p>Upload and share an image.</p>
  <input type="file" name="upload" value="">
  <input type="submit">
</form> -->
